/* Mykyta Onipchenko */
/* Bogdan Ivan */

/* #region main*/
html {
    /* Child placement */
    margin: 0;
    padding: 0;
    margin-top: 1rem;

    /* Main colors */
    background-color: var(--background-dull);
}
body article {
    /* Center */
    width: min(100vh, 85vw);
    min-width: 50vw;
    margin: auto;
    margin-bottom: 2rem;

    /* Child placement */
    padding: 1rem;

    /* Main colors */
    color: var(--foreground-normal);

    /* Additional style */
    border-radius: 0.5rem;
    box-shadow: 0 0 20px var(--shadow-color);
    font-family: 'Century Gothic', sans-serif;
}
/* #endregion */


/* #region Header */
header article {
    /* Font */
    text-align: center;
    font-weight: bold;

    /* Main colors */
    background-color: var(--primary-dull);
    color: var(--foreground-active);
    text-shadow: 0 0 20px var(--shadow-color);
}
h1 {
    /* Font */
    font-size: 2rem;
}
/* #endregion */


/* #region Footer */
footer article {
    /* Font */
    text-align: center;

    /* Main colors */
    background-color: var(--primary-dull);
}
footer {
    /* Font */
    font-size: 1.25rem;
}
/* #endregion */


/* #region Form */
#formArticle {
    /* Main colors */
    background-color: var(--background-normal);
}
input:not([type=radio]), textarea {
    /* Font */
    font-family: 'Century Gothic', sans-serif;

    /* Placement */
    display: block;
    width: 100%;
    max-width: calc(100% - 2rem);
    margin: auto;
    padding: 1rem;

    /* Main colors */
    background-color: var(--background-active);
    color: var(--foreground-active);

    /* Additional style */
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: background-color 0.25s;
}
input[type=radio], input[type=date]{
    /* Change the mouse cursor so it shows as a clickable button */
    cursor: pointer;
}
input[type=submit] {
    /* Font */
    font-size: 1.25rem;
    font-family: 'Trebuchet MS', monospace;
    font-weight: bold;
    text-shadow: 0 0 20px var(--shadow-color);

    /* Border */
    border: 2px solid #888;

    /* Change the mouse cursor so it shows as a clickable button */
    cursor: pointer;
}
input[type=submit]:hover {
    /*  Main colors */
    background-color: var(--primary-dull);
}
input:invalid, textarea:invalid {
    /*  Main colors */
    background-color: var(--error-color);
}
input::placeholder {
    color: var(--foreground-dull);
}
textarea {
    /* Limit the size */
    min-width: calc(100% - 2rem);
    min-height: 2rem;
}
fieldset {
    border: 2px solid #888;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px var(--shadow-color);
}
/* #endregion */


/* #region Entries */
#entries article {
    /* Child placement */
    display: flex;
    justify-content: space-between;
}
.School {
    background-color: var(--category-school-background);
}
.Entertainment {
    background-color: var(--category-entertainment-background);
}
.Food {
    background-color: var(--category-food-background);
}
.Other {
    background-color: var(--category-other-background);
}
.entryOtherData {
    /* Child placement */
    text-align: right;
}
.entryStars {
    /* Main style */
    font-size: 3rem;
    margin: 0;
}
.entryCategory {
    font-weight: bold;
}
.entryCategory::before {
    /* Put the category in parenthesis */
    content: '( ';
}
.entryCategory::after {
    /* Put the category in parenthesis */
    content: ' )';
}
.entryAmountSpent::after {
    content: ' $';
}
.entryDelete {
    /* Main colors */
    color: var(--foreground-normal);
    background-color: var(--background-dull);

    /* Font */
    font-weight: bold;

    /* Additional style */
    width: 3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: background-color 0.25s;

    /* Change the mouse cursor so it shows as a clickable button */
    cursor: pointer;
}
.entryDelete:hover {
    /* Main colors */
    background-color: var(--background-normal);
}
/* #endregion */