/* Mykyta Onipchenko */
/* Bogdan Ivan */

:root {
    --background-dull: #1a1a1a;
    --background-normal: #303030;
    --background-active: #484848;

    --primary-dull: #014179;
    --primary-normal: #0267c1;
    --primary-active: #0d8dfd;

    --foreground-dull: #a1a1a1;
    --foreground-normal: #d6d6d6;
    --foreground-active: #ffffff;

    --error-color: #e91e2f69;

    --shadow-color: black;

    --category-school-background: #b1172c;
    --category-entertainment-background: #568340;
    --category-food-background: #3f468a;
    --category-other-background: #aa6124;
}
